/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap");

$light: hsla(0, 0%, 100%, 1);
$grayL: rgb(233, 237, 238);
$grayD: hsla(217, 5%, 33%, 0.98);
$dark: hsla(0, 0%, 20%, 1);
$blue: rgb(51, 113, 147);
$green: rgb(42, 126, 88);

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0px 20px;
  .header-title {
    font-weight: 500;
  }
  .header-subtitle {
    font-family: "Satisfy";
    font-size: 2.5rem;
    font-weight: 400;
    color: $blue;
    margin-bottom: -20px;
  }
  .description {
    margin-top: 20px;
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
  margin-top: 60px;
}

/* SCORES */
.scoreboard {
  background-color: $grayL;
  border-radius: 2px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  .score-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .score-num {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 10px;
    &.high {
      color: $green;
    }
  }
}

/* CARDS */
.grid {
  margin-top: 30px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  .card {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    img {
      max-width: 175px;
      height: auto;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
    p {
      font-size: 0.8rem;
      font-weight: 300;
    }
    &:hover {
      transition: 300ms ease-in-out;
      transform: scale(1.1);
      p {
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

/* GAME OVER */
.game-over {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 280px;
  overflow: hidden;
  background-color: $grayD;
  color: $light;
  &.hidden {
    display: none;
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  p {
    font-size: 1.2rem;
  }
  button {
    background-color: $green;
    color: $light;
    padding: 10px 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    &:hover {
      transition: 0.2s ease-in;
      transform: scale(1.2);
    }
    svg {
      color: $light;
    }
  }
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  svg {
    color: $dark;
    font-size: 1.2rem;
  }
}
